boto3==1.35.12
botocore==1.35.12
aws-lambda-powertools==2.29.1
aws-xray-sdk==2.12.1
tenacity==8.3.0
python-dotenv==1.0.1
pytest==8.3.2
pytest-mock==3.14.0
pydantic
python-dateutil
moto[boto3]
mypy-boto3-athena